*{
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    box-sizing: border-box;
}
body{
    background: #2F6542;
    color: #E2D7AB;
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.display{
    width: 65%;
    margin-top: 60px;
    margin-bottom: 40px;
    background: #172B23;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 25px;
    border: 2px solid #E2D7AB;
    border-radius: 40px;
}
.container h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    background: #E2D7AB;
    color: #111613;
    border-radius: 15px;
    padding: 2px 10px;
}
.display img{
    width: 30px;
    cursor: pointer;
    padding: 2px 2px;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 28px;
    text-align: center;
    padding: 1px 3px;
    background: #E2D7AB;
    border-radius: 10px;
}
.container button img{
    width: 25px;
    margin-right: 10px;
}
.container button{
    border: 0;
    outline: 0;
    background: #E2D7AB;
    color: #111613;
    font-size: 18px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}